-#     Chicago Ideas Week
-#     _sponsors.html.haml
-#     01/02/2012

%article{:class => "sidebar_item row full"}
  %ul{:id => "sponsors_sidebar"}
    %li
      .img_wrapper= link_to image_tag( "application/temp/walgreens.jpg"), "#"
    %li
      .img_wrapper= link_to image_tag( "application/temp/macarthur.jpg"), "#"
    %li
      .img_wrapper= link_to image_tag( "application/temp/mckinsey.jpg"), "#"
    %li
      .img_wrapper= link_to image_tag( "application/temp/mccormick.jpg"), "#"