%ul{:id => "staff_list", :class => "image_grid three_span"}

  - @staff.present?
  
  - @staff.each do |staffmember| 

    %li
      = link_to speaker_path(staffmember) do
        .grid_img_wrapper
          = image_tag( staffmember.portrait.url)
        .grid_content
          %span.title_= staffmember.name
          %span.desc_= staffmember.title