%ul{:id => "staff_list", :class => "image_grid three_span"}

	- @staff.each do |staffmember| 
	
		%li
			= link_to speaker_path(staffmember) do
				.grid_img_wrapper
					= image_tag(asset_path staffmember.portrait.url)
				.grid_content
					%span{:class => "title_"}= staffmember.name
					%span{:class => "desc_"} Title goes here