webrat.log
log
log/*
tmp
tmp/*
vendor/bundle/*
vendor/bundle
.bundle
.sass-cache
.rvmrc
.DS_Store
.rvmrc
.project
*.tmproj

db/sphinx/*
db/sphinx
config/development.sphinx.conf
config/development.sphinx.conf
db/sphinx/*	
db/sphinxconfig/development.sphinx.conf
