- content_for :breadcrumbs do
  .crumb.end Partners   

- @active_tab = 'partners'

- content_for :content_navigation do
  %h2 Partners
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_partners_path, 'search'
