%tr{:partner => partner.id}
  %td.name= link_to partner.name, admin_partner_path(partner)
  %td.description= partner.description
  %td.options
    = edit_model_link partner
    = destroy_model_link partner
 