%table#partners
  %tr
    %th.name= ssp_sort_link :name
    %th.description= ssp_sort_link :description
    %th.logo= ssp_sort_link :logo
    %th 
  = render :partial => 'admin/partners/partner.html.haml', :collection => partners
