-#     Chicago Ideas Week
-#     calendar/index.html.haml
-#     07/05/2012

%div#calendar_container 

  %div#calendar_header
    %div#calendar_day_container
      - if @prev
        %a#calendar_arrow_left{:href => @prev}
      - if @next
        %a#calendar_arrow_right{:href => @next}
      %span#day_name
        = @day_name
      %span#month_name
        = @month_name
      %span#day_number
        = @day_number
      %span#year_number
        = @year_number
    
    %div#calendar_title
      %h1 Schedule of Events
      %p
        Sort by
        %select
          %option CIW Talks
          %option CIW Labs
          %option CIW Megatalks
          %option All CIW Talks
          %option Show All Events
    
  
  %div#calendar_table  
