-#= @talk.name
-#= @talk.id
-#%br
-#%br
-#%br
-#- @chapters.each do |chapter|
-#	= chapter.title
-#	= chapter.vimeo_id
-#	= chapter.description
-#	- chapter.performances.each do |p|
-#		= p.speaker.name
		
		
		
-# 		Chicago Ideas Week
-# 		events/index.html.haml
-# 		01/10/2012


%section{:class => "banner container-fluid"}	
	.banner_wrapper{:style => "background: url(#{@talk.banner}) top center no-repeat;"}
		.container.banner_table
			.row.full
				.banner_shoutout
					%span{:class => "banner_title"}= @talk.name


%section{:id => "main_content", :class => "row full"}
	.container

		