.box.right.yellow_box#partner_link
  .column_row
    %a{:href => "#{new_community_partner_application_path}", :class => "callout_link"}
      %span Become a CIW Community Partner
      %span.call_out Sign Up Now!