-#       Chicago Ideas Week
-#       Featured Banner Partial
-#       _banner.html.haml
-#       01/01/2012


%section#featured.container-fluid

  #banner_container
    .banner_item{:id => "banner_1", :style => "background: url('/assets/application/banner_static/ciw_homepage_banner_watch.jpg') center center no-repeat;"}
    .banner_item{:id => "banner_2", :style => "background: url('/assets/application/banner_static/ciw_homepage_banner_save_the_dates.jpg') center center no-repeat;"}
    .banner_item{:id => "banner_3", :style => "background: url('/assets/application/banner_static/ciw_homepage_banner_numbers.jpg') center center no-repeat;"}
    .banner_item{:id => "banner_4", :style => "background: url('/assets/application/banner_static/ciw_homepage_banner_mission.jpg') center center no-repeat;"}
    .banner_item{:id => "banner_5", :style => "background: url('/assets/application/banner_static/ciw_homepage_banner_follow.jpg') center center no-repeat;"}
      %ul#banner_follow
        %li= link_to image_tag("/assets/application/banner_static/ciw_homepage_banner_follow_facebook.png"), ""
        %li= link_to image_tag("/assets/application/banner_static/ciw_homepage_banner_follow_twitter.png"), ""
        %li= link_to image_tag("/assets/application/banner_static/ciw_homepage_banner_follow_blogger.png"), ""
        %li= link_to image_tag("/assets/application/banner_static/ciw_homepage_banner_follow_youtube.png"), ""
    
    
    .container-fluid#banner_nav_wrapper
      %ul#banner_nav
        %li
          %a{:class => "b_thumb thumb_1", :id => "thumb_1"}
        %li
          %a{:class => "b_thumb thumb_2", :id => "thumb_2"}
        %li
          %a{:class => "b_thumb thumb_3", :id => "thumb_3"}
        %li
          %a{:class => "b_thumb thumb_4", :id => "thumb_4"}
        %li
          %a{:class => "b_thumb thumb_5", :id => "thumb_5"}
        
