-#     Chicago Ideas Week
-#     _buy_tickets_now_callout.html.haml
-#     08/21/2012

.box.right.yellow_box#edison_talks_callout
  .column_row
    %a{:href => "https://andticketing.com/chicagoideasweek/Online/default.asp", :class => "callout_link", :target => "_blank"}
      %span.call_out BUY TICKETS NOW
