- if @chapters.present?
  .column_row#talks_speakers
    .column.column_double
      %span.column_header Speakers
      %ul.preview_list.speaker_list.double_rows
        - @chapters.each do |c|
          - if c.present?
            - c.performances.each do |p| 
              - if p.speaker.present?
                %li
                  .img_frame 
                    = link_to image_tag(p.speaker.portrait(:thumb)), speaker_path(p.speaker)
                  = link_to p.speaker.name, speaker_path(p.speaker)
                  %span= p.speaker.title_abbreviated
