-#     Chicago Ideas Week
-#     _community.html.haml
-#     07/16/2012


.box.right#community
  .box_header
    %span community
  .column_row
    -# Facebook Like button
    <div class="fb-like" data-href="http://www.facebook.com/ChicagoIdeasWeek" data-send="false" data-width="260" data-show-faces="true" data-font="arial"></div>
    
  .column_row
    -# Twitter Follow button
    <a href="https://twitter.com/chicagoideas" class="twitter-follow-button" data-show-count="true">Follow @chicagoideas</a>
