-#    Member Loop
-#
-#    Standard template for a group of Members

- half = (members.length / 2.0).ceil
%table.member_table
  %tr
    - members1 = members.slice(0, half)
    %td
      - members1.each do |member|
        %p #{member.get_first_name} #{member.get_last_name}
      
    - members2 = members.slice(half, members.length)
    %td
      - members2.each do |member|
        %p #{member.get_first_name} #{member.get_last_name}
          
