-#     Chicago Ideas Week
-#     _member_program_callout.html.haml
-#     07/17/2012

.box.right.yellow_box#edison_talks_callout
  .column_row
    %a{:href => "#{member_program_path}", :class => "callout_link"}
      %span.call_out WANT VIP ACCESS? CLICK HERE!
