%article{:class => "sidebar_item row full sidebar_form green_form", :id => "newsletter"}
  %form{:method => "POST", :action => "/", :id => "newsletter_signup"}
    %label Register for the CIW Newsletter
    %input{:type => "email", :name => "email", :id => "email", :placeholder => "email address"}
    %input{:type => "hidden", :name => "authenticity_token", :id => "authenticity_token"}
    %input{:type => "submit", :value => "", :id => "newsletter_submit"}
