-#     Chicago Ideas Week
-#     _polldaddy.html.haml
-#     01/15/2012

.box.right#poll
  .box_header
    %span Poll

  %script{ :type => 'text/javascript', :charset => 'utf-8', :src => 'http://static.polldaddy.com/p/6195175.js' }="" 
  %noscript 
    %a{ :href => 'http://polldaddy.com/poll/6195175/'}
      CIW WILDCARD: Which CIW Talk would you most like to be added to the schedule this year?  
  
