-#     Chicago Ideas Week
-#     _recommend_speaker_callout.html.haml
-#     12/11/2012

.box.right.yellow_box
  .column_row
    = link_to recommend_speaker_path, :class => "callout_link" do
      %span.medium_callout Recommend a Speaker for CIW 2013!
