-#  Video sharing partial

#share_video
  %ul
    %li
      %span{:class => "st_facebook_large"}
    %li
      %span{:class => "st_twitter_large"}
    %li
      %span{:class => "st_plusone_large"}
    %li
      %span{:class => "st_linkedin_large"}
    %li
      %span{:class => "st_stumbleupon_large"}
    %li
      %span{:class => "st_reddit_large"}
    %li
      %span{:class => "st_delicious_large"}
    %li
      %span{:class => "st_email_large"}
    %li
      %span{:class => "st_sharethis_large"}
  
    
    / Share this Scripts
    %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
    :javascript
      var switchTo5x=true
      stLight.options({publisher: "defcc141-a8b2-4734-8cde-5662ed8a4501"}); 