-#  Video sharing partial

#share_video
  %ul
    %li
      %span{:class => "st_fblike"}
    %li
      %span{:class => "st_twitter"}
    %li
      %span{:class => "st_plusone"}
    %li
      %span{:class => "st_linkedin"}
    %li
      %span{:class => "st_stumbleupon"}
    %li
      %span{:class => "st_reddit"}
    %li
      %span{:class => "st_delicious"}
    %li
      %span{:class => "st_email"}
    %li
      %span{:class => "st_sharethis"}
  
    
    / Share this Scripts
    %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
    :javascript
      var switchTo5x=true
      stLight.options({publisher: "defcc141-a8b2-4734-8cde-5662ed8a4501"}); 