-# Featured slider
- if @featured.present?
  .slider
    - @featured.each do |featured|
      - begin
        = link_to image_tag(featured.banner.url, :title => '<span class="banner_head">featured.name</span><span class="banner_type">featured.track.name</span>'), talk_path(featured)
      - rescue