-#     Chicago Ideas Week
-#     _social.html.haml
-#     01/15/2012


.box.right#community
  .box_header
    %span community
  .column_row
    -# Facebook Like button
    <div class="fb-like" data-href="http://www.facebook.com/ChicagoIdeasWeek" data-send="false" data-width="260" data-show-faces="true" data-font="Helvetica Neue"></div>
    
  .column_row
    -# Twitter Follow button
    <a href="https://twitter.com/chicagoideas" class="twitter-follow-button" data-show-count="true">Follow @chicagoideas</a>

.box.right#twitter_feed
  .box_header
    %span twitter
  .column_row
    %ul#ciw_twitter_feed.kohtweet_feed
    
    = link_to "Follow CIW on Twitter", "http://www.twitter.com/@chicagoideas", :class => "follow_", :rel => "nofollow", :target => "_blank"

    
//twitter integration
:javascript
  $('#ciw_twitter_feed').kohtweets({
    'preloader' : 'true',
    'preloader_url' : "#{asset_path 'application/large_preloader.gif'}",
    'type' : 'search',
    'template' : '{{#tweets}}<li id="tweet_{{id}}"><div class="avatar_container"><img src="{{profile_image_url}}" /></div><div class="tweet_content"><a href="http://twitter.com/{{from_user}}">@{{from_user}}:</a> {{text}}<a class="tweet_meta" href="http://www.twitter.com/{{from_user}}/status/{{id_str}}" target="_blank">{{created_at}}</a></div></li>{{/tweets}}',
    'screen_name' : 'chicagoideas',
    'count' : '3'
  });