-#     Chicago Ideas Week
-#     _social.html.haml
-#     01/15/2012


#fb-root
%script
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=142094415902106";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

.box.right#community
  .box_header
    %span community
  .column_row
    -# Facebook Like button
    <div class="fb-like" data-href="http://www.facebook.com/ChicagoIdeasWeek" data-send="false" data-width="260" data-show-faces="true" data-font="arial"></div>
    
  .column_row
    -# Twitter Follow button
    <a href="https://twitter.com/chicagoideas" class="twitter-follow-button" data-show-count="true">Follow @chicagoideas</a>
