-#     Chicago Ideas Week
-#     _sponsors.html.haml
-#     01/02/2012

%article{:class => "sidebar_item row full"}
  %ul{:id => "sponsors_sidebar"}
    - @sponsors.each do |s|
      %li
        .img_wrapper
          = link_to s.url, :target => "_blank" do
            - image_tag s.logo, :alt => s.name
            
