-#     Chicago Ideas Week
-#     _think_chicago.html.haml
-#     07/02/2012


.box.right#think_chicago
  .box_header
    %span ThinkChicago 2012
  .column_row
    = image_tag('application/thinkchicago_logo.jpg', :class => "think_chicago_logo", :width => "50px", :height => "79px")
    %a{:href => "#{new_think_chicago_application_path}", :class => "callout_link"}
      ThinkChicago Applications Now Available
