-# Featured Talks slider
- if @megatalks.present?
  .slider.megatalk_slider
    - @megatalks.each do |featured|
      - begin
        = link_to image_tag(featured.banner_src, :title => featured.name), talk_path(featured)
      - rescue