%table{:width => '100%', :border => 0, :cellspacing => 0, :cellpadding => 0}
  %tr
    %td{:bgcolor => '#F7F9F9'} \xa0
  %tr
    %td{:bgcolor => '#484849'}= image_tag 'http://d263d6t5bbkqh2.cloudfront.net/images/template/spacer.gif', :alt => '', :width => '1', :height => '1'
  %tr
    %td{:bgcolor => '#F7F9F9'} \xa0
