= f.inputs do
<% attributes.each do |attribute| -%>
<% next if attribute.name.to_sym == :deleted_at -%>
  = f.input :<%= attribute.name -%>
<%= attribute.type == :file ? ', :as => :file' : '' -%>
<%= attribute.type == :date ? ", :input_html => {:class => 'datepicker'}" : '' -%>
<%= attribute.type == :datetime ? ", :input_html => {:class => 'datetimepicker'}" : '' -%>
<%= attribute.type == :time ? ", :input_html => {:class => 'timepicker'}" : '' -%> 
<% end -%>
