%table#venues
  %tr
    %th.name= ssp_sort_link :name
    %th.address1= ssp_sort_link :address1, :title => 'Address'
    %th 
  = render :partial => 'admin/venues/venue.html.haml', :collection => venues
