body.admin {
  form.formtastic fieldset {
    position:relative;
    
    // active states for the form inputs
    &.inputs input {
      color: #222;
      .active {
        border-color: #820035;
      }
    }
    
    // toggle on fieldsets, by clicking the legend
    &.toggle {
      > ol {
        display: none;
      }
      > legend span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  
    li.boolean {
      height: 20px;
      label {
        width: 400px;
      }
      p.inline-hints {
        text-align: right;
        position: absolute;
        right: 0;
      }
    }
  
    // nested forms
    a.add {
      background-color: #FFFFFF;
      border: 1px solid #999999;
      display: block;
      font-size: 14px;
      padding: 3px 6px;
      position: absolute;
      right: 10px;
      text-decoration: none;
      top: -34px;
      z-index: 9;
      font-weight: bold;
      color: #000;
    }

    fieldset {
      position: relative;
      background: none repeat scroll 0 0 #EEEEEE;
      padding: 10px;
      border: 1px solid #CCCCCC;
      margin-bottom: 10px;
      
      a.remove {
        color: red;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        margin-left: 4px;
      }

      li {
        margin: 0 0 6px 0;
      }
      
      input, input[type="text"], input[type="email"], input[type="url"] {
        padding: 6px;
        width: 434px;
      }
      
      textarea {
        height: 60px;
        width: 580px;
      }
      
      label {
        padding: 0;
        font-size: 12px;
        margin-bottom: 4px;
      }
    }
  }
}