body#admin_users_page {

  // specific pages
  // ------------------------------------------------
  &.speakers {
    // dont show speaker column or delete on the speakers table
    table#users .speaker { display:none; }
  }
  
  &.administrators {
    // dont show admin column or delete on the speakers table
    table#users .admin { display:none; }
  }
  
  &.staff {
    // dont show staff column or delete on the speakers table
    table#users .staff { display:none; }
  }
  
  &.show {
    
    // a box describing the connectivity for this user account
    #connectivity {
      border: 1px solid #EEEEEE;
      @include box-shadow(2px 2px 6px #EEEEEE);
      float: right;
      padding: 8px;
      text-align: center;
      width: 250px;
    }
    
  }

}