%table#sponsors
  %tr
    %th.name= ssp_sort_link :name
    %th.sponsorship_level_id= ssp_sort_link :sponsorship_level_id
    %th.featured= ssp_sort_link :featured
    %th 
  = render :partial => 'admin/sponsors/sponsor.html.haml', :collection => sponsors
