%tr{:talk_photo => talk_photo.id}
  %td.photo
    %a{:href => talk_photo.photo.url(:full), :target => '_blank'}= image_tag talk_photo.photo.url(:thumb)
  %td.caption= talk_photo.caption
  %td.options
    = edit_model_link talk_photo
    = destroy_model_link talk_photo
 