$site_width: 950px;
$radii: 6px;

// global font help
$title_font: Helvetica, arial, serif;
$body_font: arial, sans-serif;

// navigation menus
$navigation_background_lowlight: #000000;
$navigation_background_highlight: #262626;
$navigation_lowlight: #B5A900;
$navigation_highlight: #F0E30C;

// bourbon is a library containing lots of useful css3 mixins
@import "bourbon";
// bourbon doesnt include opacity - they made a design decision not too, which i disagree with so i write my own
@import "header/css3_opacity";
@import "header/normalize";
@import "header/forms";

// some utility css
.clr {
  clear: both;
  display: block;
}
