- content_for :content_navigation do
  %ul
    %li{:class => active_for_controller('admin/admin')}= icon_link_to 'Dashboard', admin_root_path, 'home'
    %li= icon_link_to 'My User', admin_user_path(current_user), 'person'
    %li{:class => active_for('administrators')}= icon_link_to "Administrators", administrators_admin_users_path, 'person'
    %li{:class => active_for_controller('admin/staff_bios')}= icon_link_to "Staff Bios", admin_staff_bios_path, 'check'

