-#     Chicago Ideas Week
-#     talks/show.html.haml
-#     01/12/2012

-# header
%section#header_toolbar
    
-# Main Talk content
%section.container#main_content

  -# Introduction
  #intro
    %h1 
      Thank you.
      %br
    
    %span Your application has been received. 
    = render "partials/share"