%h1 Terms and Conditions

%h4 1. Article one header.
%p Put your content for article 1 here.

%h4 2. Article two header.
%p Put your content for article 2 here.
%ul 
  %li You can use lists.
  %li Lists make content easy to read.
  %li Page specific styles exist, thats why we have lower-latin bullets here.
