%table#chapters
  %tr
    %th.title= ssp_sort_link :title
    %th.description= ssp_sort_link :description
    %th.sort= ssp_sort_link :sort
    %th 
  = render :partial => 'admin/chapters/chapter.html.haml', :collection => chapters
