= f.inputs :class => 'inputs quotes' do
  = f.input :body, :label => "Quote", :hint => "enter the body of the quote, do not enter the persons name or wrap the quote in marks"
  = link_to_remove_fields "remove quote", f
