body#application_page.contact {
  form {
  }
  
  // once the contact form is successfully submitted
  #thank_you {
    background:#c5ffd4;
    margin:30px 0;
    padding:20px;
    font-weight:normal;
    color:#7a7a7a;
    font-size:180%;
  }
  
}