/******************************************************
 *	Rotating Banner Styles
******************************************************/
#featured {
	width: 100%;
	height:675px;
	overflow:hidden;
	
	#banner_container { 
		width: 100%;
		height:675px;
		position:relative; 
		
			.banner_item {
				width:100%; 
				height:675px;
				display:table;
				position:absolute;
				left:0;
				top:0;
				
				.banner_content {
					width: 1000px;
					display:table-cell;
					vertical-align: middle;
					
					.banner_box {
						width: 1000px;
						margin:0 auto;
					}
					
					.banner_top, .banner_bottom {
						width:255px;
						padding:10px;
						left:0;
						display:block;
						clear:both;
					}
					
					.banner_top {
						background: rgba(0,0,0,.65);
						
						.banner_title {
							display:block;
							clear:both;
							font-size: 40px;
							line-height:45px;
							font-weight: bold;
							text-transform: uppercase;
							color:$white;
							text-shadow:1px 1px 1px #000;
							margin-bottom:5px;
						}
						
						.b_link {
							font-size: 13px;
							color:$white;
							text-shadow:1px 1px 1px #000;
						}
						
					} // end .banner_top
					
					.banner_bottom {
						background: rgba(255,255,255,.45);
						
						.banner_dates {
							font-size: 17px;
							color:$dark;
							font-weight:500;
							display:block;
							margin-bottom:5px;
						}
						
						.banner_purchase {
							font-size: 13px; 
							color:$dark;
						}
						
					} // end .banner_bottom
					
				} //end .banner_content
			} // end .banner_item
			
	} // end #banner_container
	
	#banner_nav_wrapper {
		background: rgba(0,0,0,.45);
		width:100%;
		height: 85px;
		padding: 15px 0;
		z-index:4001;
		position: absolute;
		bottom:0px;
		
		ul#banner_nav {
			width: 1000px;
			height:85px;
			margin:0 auto;
			display:block;
			list-style:none;
			padding:0;
			
			> li {
				display:inline;
				float:left;
				width: 160px;
				height: 85px;
				overflow:hidden;
				padding:0;
				margin:0 8px 0 0;
				@include box-shadow(1px,1px,3px,#111);
				
				> img {
					filter:gray;
				}
			}
			
			ul#banner_nav:after, ul#banner_nav:before { display:table; content:""; zoom:1; }
			ul#banner_nav:after { clear:both; }
			
			> li:last-child { margin-right:0; }
			
		} // #banner_nav
		
	} // end #banner_nav_wrapper

}// end #featured






/******************************************************
 *	Homepage 5 Box Intro Section
******************************************************/
#intro {
	background: #f8f8f8;
	margin-bottom:50px;
	
	> .container {
		padding:30px 0;
	}
	
	h2 {
		text-transform:uppercase;
		text-align: center;
		margin-top:10px;
	}
}

ul#intro_boxes {
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
	height: 155px;
	overflow:hidden;
	
	> li {
		width: 140px;
		height: 135px;
		display:inline;
		float:left;
		padding:15px 10px;
		margin:0 50px 0 0;
		border:none;
		
		> span {
			display:block;
			text-transform:uppercase;
			color:$greyDark;
			text-shadow:1px 1px 1px #fff9bc;
		}
		
		> span.intro_regular {
			font-size: 13px;
			font-weight: 400;
			line-height: 16px;

			> a {
				font-size:16px;
				color:$blue;
				text-decoration:none;
				font-weight:bold;
				text-transform:none;
				line-height:19px;
			}
		}
		
		> span.intro_large {
			font-size:45px;
			line-height:47px;
			font-weight:bold;
		}
		
		> span.intro_medium {
			font-size: 20px;
			line-height: 22px;
			font-weight:800;
		}
		
		span.intro_link {
			margin-top:10px;
			> a {
				color:#555;
				text-transform:none; 
				text-decoration:none;
			}
		}
		
	}
	

	> li:last-child {
		margin:0;
	}
	
	> li.yellow {
		background-color:#faee35;
	}
	
	> li.blue {
		background-color: #5998f1;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6ea9fa), to(#2d77de));
		background-image: -webkit-linear-gradient(top, #6ea9fa, #2d77de);
		background-image:    -moz-linear-gradient(top, #6ea9fa, #2d77de);
		background-image:     -ms-linear-gradient(top, #6ea9fa, #2d77de);
		background-image:      -o-linear-gradient(top, #6ea9fa, #2d77de);
		
		span {
			color:$white;
			text-shadow: 1px 1px 1px #1c57ab;
			a {
				color:$white;
			}
		}
	}
}
ul#intro_boxes:before, ul#intro_boxes:after {
	display:table;
	content:"";
	zoom:1;
}
ul#intro_boxes:after {
	clear:both;
}







/******************************************************
 *	Content Columns	
******************************************************/
.entry_column h2 {
	font-size: 19px;
	margin-bottom:30px;
	text-transform:uppercase;
}

.entry {
	display:block;
	width:100%;
	clear:both;
	border-bottom:1px solid #eceaea;
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	
	.img_wrapper {
		height:60px;
		width:60px;
		border:3px solid $white;
		@include box-shadow(0px, 0px, 2px, $greyLight);
		float:left;
		margin:0 10px 10px 0;
		overflow:hidden;
	}
	
	p {
		font-size:13px;
		line-height:17px;
		color:$grey;
		margin-bottom:8px;
	}
} // end .entry
.entry:before, .entry:after {
	display:table;
	content:"";
	zoom:1;
}
.entry:after { clear:both; }
.entry:last-child { border:none;}

//featured video is treated differently, has larger image
#videos {
	h3 {
		font-size: 15px;
		line-height:19px;
		margin-bottom:2px;
	}
	.featured_video {
		h3 {
			font-size:17px;
			line-height: 22px;
			margin-bottom:8px;
		}
		.img_wrapper {
			width: 294px;
			height: 150px;
			position:relative;
		
			.play_btn {
				display:block;
				z-index:1005px;
				position:absolute;
				top:0;
				left:0;
				width: 300px;
				height: 150px;
				opacity:.65;
				background: asset-url("application/play_btn.png", image) center center no-repeat;
				background-color: rgba(0,0,0,0);
				@include transition(opacity,2s);
				@include transition(background-color,1s);
			}
			.play_btn:hover {
				opacity:1;
				background-color: rgba(0,0,0,.65);
			}
		}
	}
} // end #video

//blog has a few different styes as well
#blog {
	.entry {
		h3 {
			margin-bottom:10px;
		}
		.img_wrapper {
			width: 100px;
			height:70px;
		}
		.category_ {
			text-transform:uppercase;
			font-size:11px;
			font-weight:800;
		}
		.datestamp {
			font-size:11px;
			font-weight:600;
			display:block;
			color:#777;
		}
	} // end .entry
} // end #blog





/******************************************************
 *	General Sidebar
******************************************************/

.sidebar {

}
.sidebar_item {
	margin-bottom: 10px;
	display:block;
}

ul#sponsors_sidebar {
	list-style:none;
	display:block;
	width:100%;
	margin:0;
	padding:0;
	
	li {
		display:inline;
		float:left;
		width: 140px;
		height:80px;
		vertical-align:middle;
		text-align:center;
		margin:0;
		padding:0;
		
		.img_wrapper {
			display:table;
			width: 140px;
			height: 80px;
			
			a {
				display:table-cell;
				vertical-align:middle;
				text-align:center;
			}
		}
	}
	
} // end ul#sponsors_sidebar

.sidebar_form {
	display:block;
	background:#e1e1e1;
	
	form {
		display:block;
		padding:10px 20px;
	}
	
	label {
		display:block;
		font-size: 12px;
		font-weight:bold;
		text-transform: uppercase;
		color:$grey;
		margin-bottom:8px;
	}
	
	input[type="text"], input[type="email"] {
		width: 205px;
		@include rounded(4px);
		background:$white;
		border:none;
		@include box-shadow-inset(0px, 1px, 4px, #999);
		font-size: 13px;
		font-style:italic;
		color:#555;
		font-weight: light;
		padding:5px;
		margin-right:10px;
	}
	
	input[type="text"]:focus, input[type="email"]:focus {
		font-style:normal;
		font-weight: bold;
		color:$dark;
	}
	
	input[type="submit"] {
		width: 28px;
		height:28px;
		border:none;
		display:inline;
		background: asset-url("application/site_sprite.png", image) no-repeat;
		background-position: -200px -140px;
		text-indent:-9999px;
	}
}
.green_form {
	background-color: $greenLight;
	
	label {
		color:$green;
	}
}


/*
<article class='sidebar_item row full sidebar_form green_form' id='newsletter'>
         <form action='/' id='newsletter_signup' method='POST'>
           <label>Register for the CIW Newsletter</label>
           <input id='email' name='email' type='email'>
           <input id='authenticity_token' name='authenticity_token' type='hidden'>
           <input id='newsletter_submit' type='submit' value=''>
         </form>
       </article>*/