input, textarea {
  font-size: 15px;
  color:$grey;
  padding: 8px;
  border: 1px solid #ccc;
  @include rounded(4px);

}

.input[type="text"], .input[type="password"], .input[type="email"] {
  width:200px;
}
.extra-small { width: 55px; }

.medium { width: 300px; }

.medium-large { width: 425px; }
 
.large { width: 500px; }

.extra-large { width: 625px; }

textarea {
  width: 500px;
  height: 75px;
}

label {
  display:block;
  font-family: "Helvetica Neue", Helvetia, Arial, sans-serif;
  font-size: 15px;
  color:$grey;
  margin-bottom:5px;
}

input[type="checkbox"] {
  display:inline;
  margin:3px 5px 0 0;
  padding:0px;
  width:auto !important;
}

input[type="submit"] {
  width:auto !important;
}
input.submit, input.create, .blue_btn {
  padding: 0 25px;
  line-height: 30px;
  color:$white;
  border:1px solid #0072bc;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #00548a;
  @include gradient(#0072bc, #1c91dc, #0072bc);
  @include rounded(4px);
  @include box-shadow-inset(0px, 1px, 0px, #45aef1);
}







/******************************************************
 *  Login / Register Pages
******************************************************/

// login
#login_container {

  ol {
    diplay:block;
    margin:0;
    padding:0;
    list-style:none;
    
    li {
      display:block;
      margin:0 0 20px 0;
      padding:0;
    }
    
    li.boolean {
      
      input#user_remember_me {

      }
      
    }
    
  } // end ol
  
  abbr {
    color:red;
    text-decoration:none;
    margin-right:3px;
  }
  
  input {
    width: 300px;
  }
  
  #devise_links a {
    margin-right: 10px;
  }
  
}

/******************************************************
 *  Volunteer Form
******************************************************/

#volunteer_form {
  width: 100%;
  padding:0;
  margin:0;
  
  tr {
    display:block;
    width:100%;
    margin-bottom:20px;
  }
  
  tr td:first-child { text-align:right; padding-right: 20px; vertical-align:middle; }
  
  td.no_block label {
    display:inline;
    margin-right: 10px; 
  }
  
  td.no_block label.block {
    display:block !important;
  }
}
