// the application about page specific styles
body#devise_user_sessions_page, body#devise_user_passwords_page, body#devise_user_registrations_page {
  
  #devise_links {
    margin-top: 20px;
    a {
      margin-right: 10px;
    }
  }
  
  .agreeing_to_terms {
    margin-bottom: 20px;
  }
  
}