
// rounded corner
@mixin rounded($radius:10px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

// create a box shadow
@mixin box-shadow($h:1px, $v:1px, $d:1px, $color:#fff) {
	box-shadow: $h $v $d $color;
	-moz-box-shadow: $h $v $d $color;
	-webkit-box-shadow: $h $v $d $color;	
}

// inset box shadow
@mixin box-shadow-inset($h:1, $v:1, $d:1, $color:#fff) {
	box-shadow: inset $h $v $d $color;
	-moz-box-shadow: inset $h $v $d $color;
	-webkit-box-shadow: inset $h $v $d $color;
}

//make items non selectable
@mixin non-selectable() { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; }

//transitions
@mixin transition($type:width, $speed:1s) {
	transition: $type $speed;
	-moz-transition: $type $speed;
	-webkit-transition: $type $speed;
	-o-transition: $type $speed;
}

@mixin gradient($color : blue, $topColor : blue, $bottomColor : blue) {
   background-color: $color;
   background-image: url(images/fallback-gradient.png);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($topColor), to($bottomColor));
   background-image: -webkit-linear-gradient(top, $topColor, $bottomColor);
   background-image:    -moz-linear-gradient(top, $topColor, $bottomColor);
   background-image:     -ms-linear-gradient(top, $topColor, $bottomColor);
   background-image:      -o-linear-gradient(top, $topColor, $bottomColor);
}