/******************************************************
 *  Rotating Banner Styles
******************************************************/
#featured {
  width: 100%;
  height:675px;
  overflow:hidden;
  background: #000;
  margin-top: -27px;
  margin-bottom: 55px;
  
  #banner_container { 
    width: 100%;
    height: 675px;
    position: relative;
    
      .banner_item {
        width:100%; 
        height:675px;
        display:none;
        position:absolute;
        left:0;
        top:0;
        
        .banner_content {
          width: 1000px;
          display: table-cell;
          vertical-align: middle;
          
          .banner_box {
            width: 1000px;
            margin:0 auto;
          }
          
          .banner_top, .banner_bottom {
            width:255px;
            padding:10px;
            left:0;
            display:block;
            clear:both;
          }
          
          .banner_top {
            background: rgba(0,0,0,.65);
            
            .banner_title {
              display:block;
              clear:both;
              font-size: 40px;
              line-height:45px;
              font-weight: bold;
              text-transform: uppercase;
              color:$white;
              text-shadow:1px 1px 1px #000;
              margin-bottom:5px;
            }
            
            .b_link {
              font-size: 13px;
              color:$white;
              text-shadow:1px 1px 1px #000;
            }
            
          } // end .banner_top
          
          .banner_bottom {
            background: rgba(255,255,255,.45);
            
            .banner_dates {
              font-size: 17px;
              color:$dark;
              font-weight:500;
              display:block;
              margin-bottom:5px;
            }
            
            .banner_purchase {
              font-size: 13px; 
              color:$dark;
            }
            
          } // end .banner_bottom
          
        } //end .banner_content
      } // end .banner_item
      
  } // end #banner_container
  
  #banner_nav_wrapper {
    background: rgba(0,0,0,.45);
    width:100%;
    height: 85px;
    padding: 15px 0;
    z-index:4001;
    position: absolute;
    bottom:0px;
    
    ul#banner_nav {
      width: 1000px;
      height:85px;
      margin:0 auto;
      display:block;
      list-style:none;
      padding:0;
      
      > li {
        display:inline;
        float:left;
        width: 160px;
        height: 85px;
        overflow:hidden;
        padding:0;
        margin:0 8px 0 0;
        @include box-shadow(1px,1px,3px,#111);
        
        > img {
          filter:gray;
        }
      }
      
      ul#banner_nav:after, ul#banner_nav:before { display:table; content:""; zoom:1; }
      ul#banner_nav:after { clear:both; }
      
      > li:last-child { margin-right:0; }
      
    } // #banner_nav
    
  } // end #banner_nav_wrapper

}// end #featured
#featured:after {
  display: table;
  content: "";
  zoom: 1;
  clear:both;
}





/******************************************************
 *  General Visual list with thumbnail, link, desc
******************************************************/
ul.preview_list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  
  > li {
    display: block;
    clear: both;
    width: 300px;
    margin-bottom: 30px;
    
    a {
      display: block;
      font-size: 14px;
      margin-bottom: 2px;
      font-weight: bold;
      line-height: 17px;
    }
    
    span {
     font-size: 13px;
     font-weight: 300;
     color: $grey; 
    }
    
    .img_frame {
      width: 110px;
      height: 65px;
      float: left;
      margin: 0 10px 0 0; 
    }
  }
}
ul.preview_list li:before, ul.preview_list li:after {
  display: table;
  content: "";
  zoom: 1;
}
ul.preview_list li:after {
  clear: both;
}
ul.double_rows {
  li {
    display: inline;
    clear: none;
    float: left; 
  }
  li:nth-child(2n+2) {
    float:right;
  }
}
.img_frame {
  overflow: hidden;
  border: 3px solid #fff;
  @include box-shadow(0px, 0px, 2px, $grey);
  position: relative;
}
.speaker_list li .img_frame {
  width: 60px !important;
  height: 60px !important;
}
.play_btn {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: asset-url('application/site_sprite.png', image) no-repeat;
  background-position: -100px -120px;
}



#sponsors ul {
  display: table;
  list-style: none;
  clear: both;
  position: relative; 
  width: 300px;
  height: 180px;
  overflow: hidden; 
  
  li {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
    float: left;
  }
}

/*
<div class='box right' id='sponsors'>
      <div class='column_row'>
        <ul></ul>
        <li><a href="http://www.accenture.com"><img alt="1" src="https://s3.amazonaws.com/chicago_ideas-chicago-ideas-sponsor-logos/1.jpg?1326231365" width="280px" /></a></li>
        <li><a href="http://www.uc.edu/booth"><img alt="2" src="https://s3.amazonaws.com/chicago_ideas-chicago-ideas-sponsor-logos/2.jpg?1326231389" width="280px" /></a></li>
        <li><a href="http://www.jpmorgan.com"><img alt="3" src="https://s3.amazonaws.com/chicago_ideas-chicago-ideas-sponsor-logos/3.jpg?1326231405" width="280px" /></a></li>
        <li><a href="http://www.microsoft.com"><img alt="4" src="https://s3.amazonaws.com/chicago_ideas-chicago-ideas-sponsor-logos/4.jpg?1326231431" width="280px" /></a></li>
      </div>
    </div>
*/




/******************************************************
 *  Overwriting styles
******************************************************/

.right {
  float:right;
}
.left {
  float:left;
}
.block, .show {
  display:block !important;
}
.clearfix {
  clear:both;
}
.hide {
  display:none;
}
.nomargin {
  margin:0;
}
ul.list_reset {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  
  > li {
    margin: 0;
    padding: 0;
  }
}