/******************************************************
 *  Rotating Banner Styles
******************************************************/
#featured {
  width: 100%;
  height:675px;
  overflow:hidden;
  
  #banner_container { 
    width: 100%;
    height:675px;
    position:relative; 
    
      .banner_item {
        width:100%; 
        height:675px;
        display:none;
        position:absolute;
        left:0;
        top:0;
        
        .banner_content {
          width: 1000px;
          display: table-cell;
          vertical-align: middle;
          
          .banner_box {
            width: 1000px;
            margin:0 auto;
          }
          
          .banner_top, .banner_bottom {
            width:255px;
            padding:10px;
            left:0;
            display:block;
            clear:both;
          }
          
          .banner_top {
            background: rgba(0,0,0,.65);
            
            .banner_title {
              display:block;
              clear:both;
              font-size: 40px;
              line-height:45px;
              font-weight: bold;
              text-transform: uppercase;
              color:$white;
              text-shadow:1px 1px 1px #000;
              margin-bottom:5px;
            }
            
            .b_link {
              font-size: 13px;
              color:$white;
              text-shadow:1px 1px 1px #000;
            }
            
          } // end .banner_top
          
          .banner_bottom {
            background: rgba(255,255,255,.45);
            
            .banner_dates {
              font-size: 17px;
              color:$dark;
              font-weight:500;
              display:block;
              margin-bottom:5px;
            }
            
            .banner_purchase {
              font-size: 13px; 
              color:$dark;
            }
            
          } // end .banner_bottom
          
        } //end .banner_content
      } // end .banner_item
      
  } // end #banner_container
  
  #banner_nav_wrapper {
    background: rgba(0,0,0,.45);
    width:100%;
    height: 85px;
    padding: 15px 0;
    z-index:4001;
    position: absolute;
    bottom:0px;
    
    ul#banner_nav {
      width: 1000px;
      height:85px;
      margin:0 auto;
      display:block;
      list-style:none;
      padding:0;
      
      > li {
        display:inline;
        float:left;
        width: 160px;
        height: 85px;
        overflow:hidden;
        padding:0;
        margin:0 8px 0 0;
        @include box-shadow(1px,1px,3px,#111);
        
        > img {
          filter:gray;
        }
      }
      
      ul#banner_nav:after, ul#banner_nav:before { display:table; content:""; zoom:1; }
      ul#banner_nav:after { clear:both; }
      
      > li:last-child { margin-right:0; }
      
    } // #banner_nav
    
  } // end #banner_nav_wrapper

}// end #featured






/******************************************************
 *  Content Columns  
******************************************************/
.entry_column h2 {
  font-size: 19px;
  margin-bottom:30px;
  text-transform:uppercase;
}

.entry {
  display:block;
  width:100%;
  clear:both;
  border-bottom:1px solid #eceaea;
  padding:0 0 20px 0;
  margin:0 0 20px 0;
  
  .img_wrapper {
    height:60px;
    width:60px;
    border:3px solid $white;
    @include box-shadow(0px, 0px, 2px, $greyLight);
    float:left;
    margin:0 10px 10px 0;
    overflow:hidden;
  }
  
  p {
    font-size:13px;
    line-height:17px;
    color:$grey;
    margin-bottom:8px;
  }
} // end .entry
.entry:before, .entry:after {
  display:table;
  content:"";
  zoom:1;
}
.entry:after { clear:both; }
.entry:last-child { border:none;}

//featured video is treated differently, has larger image
#videos {
  h3 {
    margin-bottom:3px;
  }
  .featured_video {
    h3 {
      margin-bottom:8px;
    }
    .img_wrapper {
      width: 294px;
      height: 150px;
      position:relative;
    
      .play_btn {
        display:block;
        z-index:1005px;
        position:absolute;
        top:0;
        left:0;
        width: 300px;
        height: 150px;
        opacity:.65;
        background: asset-url("application/play_btn.png", image) center center no-repeat;
        background-color: rgba(0,0,0,0);
        @include transition(opacity,2s);
        @include transition(background-color,1s);
      }
      .play_btn:hover {
        opacity:1;
        background-color: rgba(0,0,0,.65);
      }
    }
  }
} // end #video

//blog has a few different styes as well
#blog, .general_ {
  .entry {
    h3 {
      margin-bottom:10px;
    }
    .img_wrapper {
      width: 100px;
      height:70px;
    }
    .category_ {
      text-transform:uppercase;
      font-size:11px;
      font-weight:800;
    }
    .datestamp {
      font-size:11px;
      font-weight:600;
      display:block;
      color:#777;
    }
  } // end .entry
} // end #blog



.content_column {
  margin-bottom:20px;
  
  
  .speakers_extras {
    display:block;
    margin-top: 65px;
  }
  
  ul.related_list {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
  
    li {
      margin:0 0 5px 0;
      padding:0;
    }
    
    li.list_title {
      font-weight: bold;
      margin-bottom:7px;
    }
  }
  
  ul.related_list:last-child {
    float:right;
  }
  
  .quoted_column {
    float:right;
    margin-left: 10px;
    float:right;
    font-size: 23px;
    color:$grey;
    font-weight:lighter;
    line-height: 27px;
  }
}



ul.entry_list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  > li {
    width:300px;
    display:inline;
    clear:none;
    float:left;
    margin: 0 50px 50px 0;
  }
  
  > li:nth-child(3n+3) {
    margin-right: 0;
  }
}

ul.entry_featured {

  li {
    border:none;
      
    .img_wrapper {
      height: 145px !important;
      width: 294px !important;
      float:none;
      margin:0 10px 10px 0;
      overflow:hidden;
      display:block;
    }
    h3 {
      font-size: 15px;
      line-height: 21px;
      font-weight: 600;
      margin-bottom: 4px !important;
    }
    span {
      font-size: 14px;
    }
  }
}




/******************************************************
 *  General Sidebar
******************************************************/

.sidebar {
  float:right;
}
.sidebar_item {
  margin-bottom: 10px;
  display:block;
}

ul#sponsors_sidebar {
  list-style:none;
  display:block;
  width:100%;
  margin:0;
  padding:0;
  
  li {
    display:inline;
    float:left;
    width: 140px;
    height:80px;
    vertical-align:middle;
    text-align:center;
    margin:0;
    padding:0;
    
    .img_wrapper {
      display:table;
      width: 140px;
      height: 80px;
      
      a {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
      }
    }
  }
  
} // end ul#sponsors_sidebar

.sidebar_form {
  display:block;
  background:#e1e1e1;
  
  form {
    display:block;
    padding:10px 20px;
  }
  
  label {
    display:block;
    font-size: 12px;
    font-weight:bold;
    text-transform: uppercase;
    color:$grey;
    margin-bottom:8px;
  }
  
  input[type="text"], input[type="email"] {
    width: 205px;
    @include rounded(4px);
    background:$white;
    border:none;
    @include box-shadow-inset(0px, 1px, 4px, #999);
    font-size: 13px;
    font-style:italic;
    color:#555;
    font-weight: light;
    padding:5px;
    margin: 0 10px 0 0;
  }
  
  input[type="text"]:focus, input[type="email"]:focus {
    font-style:normal;
    font-weight: bold;
    color:$dark;
  }
  
  input[type="submit"] {
    width: 28px !important;
    height:28px !important;
    border:none;
    display:inline;
    background: asset-url("application/site_sprite.png", image) no-repeat;
    background-position: -200px -140px;
    text-indent:-9999px;    
  }
}
.green_form {
  background-color: $greenLight;
  
  label {
    color:$green;
  }
}







/******************************************************
 *  Main Image Banner Styles
******************************************************/
.banner_wrapper {
  width: 100%;
  height: 325px;
  padding: 30px 0;
  
  #banner_linker {
    margin-bottom:10px;
    a {
      font-size: 11px;
      color: #cccccc;
      text-shadow:1px 1px 1px #000;
      font-weight:light;
    }
  }
  
  .img_container {
    overflow:hidden;
    width: 460px;
    height: 300px;
    margin-right:20px;
    border:1px solid #6b6639;
    @include box-shadow(0px,0px,5px,#000);
  }
  
  .intro_ {
    
    span {
      display:block;
      clear:both;
      color:$white;
      text-shadow:1px 1px 1px #000;
      font-weight:600;
      margin-bottom:5px;
    }
    
    span.name_ {
      font-size: 19px;
    }
    
    span.title_, span.location_ {
      font-size: 16px;
      margin-bottom:2px;
    }
    
    span.intro_text {
      font-size: 35px;
      line-height: 35px;
      font-weight:bold;
      margin-top: 15px;
      text-transform: uppercase;
    }
  }
}

.banner_table {
  display: table;
  width: 1000px;
  height: 305px;
  
  .row {
    display:table-cell;
    vertical-align: middle;
  }
}

.banner_shoutout {
  width: 410px;
  height: auto;
  padding: 20px;
  background: rgba(0,0,0,.65);
  
  span {
    text-transform: uppercase; 
    color:$white;
  }
  
  .banner_title {
    font-size: 37px;
    font-weight: 500;
    line-height: 41px;
  }
  
  .banner_hero {
    font-size: 65px;
    line-height: 60px;
    font-weight: bold;
  }
  
} // end .banner_shoutout













/******************************************************
 *  Image Grid
******************************************************/

ul.image_grid {
  display:block;
  margin:0;
  padding:0;
  list-style:none;
  
  li {
    width: 205px;
    height: 150px;
    position: relative;
    display:inline;
    float:left;
    padding:0;
    margin: 0 10px 10px 0;
    
    a, a:hover { text-decoration:none; }
    
    .grid_img_wrapper {
      width: 205px;
      height: 150px;
      overflow:hidden;
      
      img { zoom:1; }
    }
    
    .grid_content {
      display:none;
      position: absolute;
      left:0;
      bottom:0;
      background: rgba(0,0,0,.65);
      width: 195px;
      padding:5px;
      
      span.title_ {
        font-size: 12px;
        color:$white;
        font-weight:bold;
        display:block;
      }
      span.desc_ {
        font-size: 10px;
        color: $offwhite;
        display:block;
      }
    }
    
  }
  
  li:nth-child(3n+3) {
    margin-right:0;
  }
  
} // end ul.image_grid







/******************************************************
 *  Overwriting styles
******************************************************/

.right {
  float:right;
}
.left {
  float:left;
}
.block, .show {
  display:block !important;
}
.clearfix {
  clear:both;
}
.hide {
  display:none;
}
.nomargin {
  margin:0;
}
.noborder {
  border: none !important;
}
ul.list_reset {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  
  > li {
    margin: 0;
    padding: 0;
  }
}

ul.styled_thumbs .img_wrapper {
  overflow: hidden;
  border: 3px solid #fff;
  @include box-shadow(0px, 0px, 2px, $greyLight);
}

.banner {
  background: black;
}






/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('/assets/javascript/application/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('/assets/javascript/application/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('/assets/javascript/application/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('/assets/javascript/application/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('/assets/javascript/application/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/assets/javascript/application/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('/assets/javascript/application/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/assets/javascript/application/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('/assets/javascript/application/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/assets/javascript/application/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('/assets/javascript/application/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/assets/javascript/application/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('/assets/javascript/application/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('/assets/javascript/application/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('/assets/javascript/application/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('/assets/javascript/application/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('/assets/javascript/application/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/javascript/application/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }