/******************************************************
 *  Breadcrumbs, page toolbar and headers
******************************************************/
#header_toolbar {
  height: 30px;
  padding: 10px 0;
  background: #ebebeb asset-url('application/toolbar_divider.png', image) bottom left repeat-x;
  margin-top: 55px;
  
  .container {
    position: relative;
  }
  
  #breadcrumbs {
    margin-left: 175px;
    
    ul {
      width: 700px;
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        display: inline;
        float: left;
        padding-right: 20px;
        background: asset-url('application/site_sprite.png', image) no-repeat;
        background-position: right -110px;
        margin-right: 20px;
        
        a, span {
          color: $grey;
          font-size: 13px;
          line-height: 30px;
          text-shadow: 1px 1px 1px #fff;
          text-decoration: none;
        }
        a:hover {
          color:$dark;
        }
        span {
          color: $greyDark;
        }
      }
      li:last-child, .last {
        background: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  } // end #breadcrumbs
  
  a.explore_btn {
    float: right;
    color: $blue;
    line-height: 30px;
    font-size: 13px;
    padding-right: 20px;
    text-shadow: 1px 1px 1px #fff;
    background: asset-url('application/site_sprite.png', image) no-repeat;
    background-position: right -167px;
    text-decoration: none;
  }
}




#page_header {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  
  #page_title {
    width: 680px;
  
    h1 {
      font-size: 35px;
      font-weight: 500;
      color: $grey;
      text-shadow: 1px 1px 1px #fff;
      margin-bottom: 3px;
      line-height: 39px;
    }
    span.sub_header {
      position: relative;
      font-size: 14px;
      font-weight: 400;
      text-shadow: 1px 1px 1px #fff;
    }
    span.speaker_title {
      font-size: 16px !important;
    }
  }
  #page_share {
    width: 300px;
    margin-top: 15px;
    
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
      
      li {
        display: inline;
        float: left;
        width: auto;
      }
      li#twitter_ {
        margin-right: 10px;
      }
      li:last-child, .last {
        margin-right: 0;
      }
    }
  }
}
#page_header:before, #page_header:after {
  display: table;
  content: "";
  zoom: 1;
}
#page_header:after {
  clear: both;
}




      
      
/******************************************************
 *  Homepage Rotating banner and main page banners
******************************************************/
#featured {
  width: 100%;
  height:675px;
  overflow:hidden;
  background: #000;
  
  #banner_container { 
    width: 100%;
    height: 675px;
    position: relative;
    
      .banner_item {
        width:100%; 
        height:675px;
        display:none;
        position:absolute;
        left:0;
        top:0;
        
        .banner_content {
          width: 1000px;
          display: table-cell;
          vertical-align: middle;
          
          .banner_box {
            width: 1000px;
            margin:0 auto;
          }
          
          .banner_top, .banner_bottom {
            width:285px;
            padding:10px;
            left:0;
            display:block;
            clear:both;
          }
          
          .banner_top {
            background: rgba(0,0,0,.85);
            
            .banner_title {
              display:block;
              clear:both;
              font-size: 40px;
              line-height:45px;
              font-weight: bold;
              text-transform: uppercase;
              color:$white;
              text-shadow:1px 1px 1px #000;
              margin-bottom:5px;
              
              a {
                color: $white;
                text-decoration: none;
              }
            }
            
            .banner_type {
              font-size: 13px;
              text-transform: uppercase;
              color: $white;
              font-weight: bold;
            }
            
            a.b_link {
              font-size: 13px;
              color:$white !important;
              text-shadow:1px 1px 1px #000;
              display: block;
            }
            
          } // end .banner_top
          .ie6 .banner_top, .ie7 .banner_top, .ie8 .banner_top {
            background-color: #000;
          }
          
          .banner_bottom {
            background: rgba(255,255,255,.45);
            
            .banner_dates {
              font-size: 17px;
              color:$dark;
              font-weight:500;
              display:block;
              margin-bottom:5px;
            }
            
            .banner_purchase {
              font-size: 13px; 
              color:$dark;
            }
            
          } // end .banner_bottom
          
        } //end .banner_content
      } // end .banner_item
      
  } // end #banner_container
  
  #banner_nav_wrapper {
    background: rgba(0,0,0,.45);
    width:100%;
    height: 65px;
    padding: 15px 0;
    z-index:4001;
    position: absolute;
    bottom:0px;
    
    ul#banner_nav {
      width: 1110px;
      height: 65px;
      margin: 0 auto;
      display:block;
      list-style:none;
      padding:0;
      
      > li {
        display:inline;
        float:left;
        width: 110px;
        height: 65px;
        padding:0;
        margin:0 15px 0 0;
        @include box-shadow(1px,1px,3px,#111);
        
        a {
          width: 110px;
          height: 65px;
          display: block;
          overflow: hidden;
          
          img {
            filter: gray;
          }
        }
      }
      
      ul#banner_nav:after, ul#banner_nav:before { display:table; content:""; zoom:1; }
      ul#banner_nav:after { clear:both; }
      
      > li:last-child, > li.last {
        margin-right:0; 
      }
      
    } // #banner_nav
    
  } // end #banner_nav_wrapper

}// end #featured
#featured:after {
  display: table;
  content: "";
  zoom: 1;
  clear:both;
}



// Main page banners
.banner {
  display: block;
  height: 390px;
  background-color: black;
  margin-top: 55px;

}
.talks_banner {
  margin-top: 0;
}
.banner_wrapper {
	width: 100%;
	height: 330px;
	padding: 30px 0;
	
	#banner_linker {
		margin-bottom:10px;
		a {
			font-size: 11px;
			color: #cccccc;
			text-shadow:1px 1px 1px #000;
			font-weight:light;
		}
	}
	
	.img_container {
		overflow:hidden;
		width: 460px;
		height: 300px;
		margin-right:20px;
		border:1px solid #6b6639;
		@include box-shadow(0px,0px,5px,#000);
	}
	
	.intro_ {
		
		span {
			display:block;
			clear:both;
			color:$white;
			text-shadow:1px 1px 1px #000;
			font-weight:600;
			margin-bottom:5px;
		}
		
		span.name_ {
			font-size: 19px;
		}
		
		span.title_, span.location_ {
			font-size: 16px;
			margin-bottom:2px;
		}
		
		span.intro_text {
			font-size: 35px;
			line-height: 35px;
			font-weight:bold;
			margin-top: 15px;
			text-transform: uppercase;
		}
	}
}

.banner_table {
	display: table;
	width: 1000px;
	height: 305px;
	
	.row {
		display:table-cell;
		vertical-align: middle;
	}
}

.banner_shoutout {
	width: 410px;
	height: auto;
	padding: 20px;
	background: rgba(0,0,0,.65);
	
	span {
		text-transform: uppercase; 
		color:$white;
	}
	
	.banner_title {
		font-size: 37px;
		font-weight: 500;
		line-height: 41px;
	}
	
	.banner_hero {
		font-size: 65px;
		line-height: 60px;
		font-weight: bold;
	}
	
} // end .banner_shoutout



.slider {
  width: 1000px;
  height: 483px;
  position: relative; 
  margin-bottom: 65px;
  
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  h2 {
    font-size: 29px;
    line-height: 33px;
    color: $white;
    display: block;
    margin-bottom: 4px;
    
    a {
      color: $white;
      text-decoration: none;
    }
  }
  span.sub_title {
    font-size: 16px;
    color: $offwhite;
    display: block;
    a {
      color: $offwhite;
      text-decoration: none;
    }
  }
}

.talk_gallery {
  width: 680px;
  height: 400px;
  display: block;
  clear: both;
  position: relative;
  margin-bottom: 45px;
  
  img {
    position: absolute;
    left: 0;
    top: 0;
    float: left;
  }
  
  .nivo-controlNav {
    top: 410px;
  }
}





/******************************************************
 *  General Visual list with thumbnail, link, desc
******************************************************/
ul.preview_list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  
  > li {
    display: block;
    clear: both;
    width: 300px;
    margin: 0 0 30px 0;
    padding: 0;
    min-height: 70px;
    
    a {
      display: block;
      font-size: 14px;
      margin-bottom: 2px;
      font-weight: bold;
      line-height: 17px;
    }
    
    span {
     font-size: 13px;
     font-weight: 300;
     color: $grey; 
     display: block;
     line-height: 17px;
    }
    
    .img_frame {
      width: 110px;
      height: 65px;
      float: left;
      margin: 0 10px 0 0; 
      
    }
  }
}
ul.preview_list li:before, ul.preview_list li:after {
  display: table;
  content: "";
  zoom: 1;
}
ul.preview_list li:after {
  clear: both;
}
ul.double_rows {
  li {
    display: inline;
    clear: both;
    float: left; 
  }
  li:nth-child(2n+2), li.end {
    float:right;
    clear:none;
  }
}
ul.horizontal_list {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  
  li {
    display: inline;
    width: 142px;
    text-align: center;
    float: left;
    clear: none;
    
    .img_frame {
      display: block;
      clear: both;
      margin: 0 0 10px 0;
      float: none;
    }
    span {
      font-size: 13px;
    }
  }
  &li:last-child {
    margin-right: 0;
  }
}
ul.theme_list {
  display: block;
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 620px;
  
  li {
    display: block;
    width: 100%;
    float: left;
    margin: 0 30px 7px 0;
    padding: 0;
  }
  li:nth-child(2n+2), li.end {
    margin-right: 0;
  }
}

.img_frame {
  overflow: hidden;
  border: 3px solid #fff;
  @include box-shadow(0px, 0px, 2px, $grey);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, OffX=0, OffY=0, Color='#555555')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, OffX=0, OffY=0, Color='#555555');
  position: relative;
}
.speaker_list li .img_frame {
  width: 117px !important;
  height: 117px !important;
}
.team_list li .img_frame {
  width: 110px !important;
  height: 110px !important;
}
.play_btn {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: asset-url('application/site_sprite.png', image) no-repeat;
  background-position: -100px -120px;
}
.view_all {
  display: block;
  clear: both;
}
.sidebar {
  ul.preview_list {
    li {
      width: 260px;
    }
    li:last-child, li.last {
      margin-bottom: 0;
    }
  }
}


#partner_programs_list {
  li {
    display: block;
    height: auto !important;
    margin: 0 0 20px 0;
    min-height: 19px !important; 
    line-height: 21px;
     
    .img_frame {
      width: 300px;
      height: 107px;
      margin: 0 10px 10px 0;
      float: left;
    }
  }
}

// Sponsors List
ul.sponsors_list {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  
  li {
    display: inline;
    margin: 0 10px;
  }
}
#sponsors_list .divided_row:last-child, #sponsors_list .last {
  border: none;
  margin-bottom: 0;
}



// Team Member
.headshot_container {
  width: 200px;
  height: 200px;
  float: left;
  margin: 7px 15px 15px 0;
}


// Events landing page
#events_section {
  margin: 10px 0 60px 0;
  
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      display: inline;
      float: left;
      width: 300px;
      height: auto;
      margin-right: 50px; 
      
      .img_frame {
        width: 300px;
        height: 140px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 19px;
        text-shadow: 1px 1px 1px #fff;
      }
    }
    li:last-child, li.last {
      float: right;
      margin-right: 0;
    }
  }
}
#events_section:before, #events_section:after {
  display: table;
  content: "";
  zoom: 1;
}
#events_section:after {
  clear: both;
}



// Labs List
.lab_list {
  display: block;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;

  li {
    display: block;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    
    a.lab_title {
      background: url(/assets/application/site_sprite.png) no-repeat;
      background-position: -990px -116px;
      padding-left: 20px;
      text-decoration: none;
    }
    a.l_active {
      background-position: -987px -176px;
    }
    
    .lab_description {
      padding: 5px 20px 50px 20px;
      display: none;
    }
  }
}



// Special Programs & Awards
.fellow_item {
  .img_frame {
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 15px 15px 0;
  }
  .fellow_content {
    width: 455px;
    float: right;

    h3 {
      font-size: 17px;
      color: $dark;
      margin: 0 0 7px 0;
    }
    span.location, span.sub_title {
      display: block;
      font-weight: 500;
      margin: 0 0 4px 0;
    }
    span.sub_title {
      margin: 0 0 10px 0;
    }
  }
}

ul.semi_finalists {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    display: inline;
    width: 300px;
    float: left;
    margin: 0 0 30px 0;
    
    span {
      display: block;
    }
    span.name_ {
      font-weight: bold;
    }
  }
  li:nth-child(2n+2), .end {
    float: right;
  }
}

//Sharethis icons
ul#confirm_share {
  display: block;
  text-align: center;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  
  li {
    display: inline;
    
  }
}

// Community Parterns page
#partners_page {
  table#partners_list {
  	margin-bottom:10px;
    td {
      width:50%;
      padding-right:10px;
      
      a {
        display:block;
        margin-bottom:4px;
        line-height:25px;
      }
      
      p {
      	margin-bottom:4px;
      }
    }
  }
}

// Impact page
#impact {
  h2 {
    color:#231f20;
  }

  ul {
    li {
      font-weight:bold;
      font-size:16px;
      margin-bottom:10px;
    }
  }
  
  p {
    text-align:right;
  }
} 



/******************************************************
 *  Sidebar
******************************************************/
#sponsors {
  width: 260px;
  padding: 0 20px;
  
  ul {
    display: block;
    list-style: none;
    clear: both;
    width: 300px;
    height: 260px;
    overflow: hidden; 
    text-align: center;
  
    li {
      position: absolute;
      width: 260px;
      height: 260px;
      text-align: center;
    }
  }
}

// Column item headers
.box_header {
  display: block;
  margin-bottom: 20px;
  padding-top: 6px;
  
  span {
    display: inline;
    padding: 12px 22px;
    margin: 0 0 0 20px;
    font-size: 12px;
    color: #e1e1e1;
    font-weight: bold;
    text-transform: uppercase;
    background: #302d2d;
    @include box-shadow(-1px,1px,2px,#777);
  }
}
.yellow_header span {
  background: #faeb09;
  color: #010101;
  text-shadow: 1px 1px 1px #f6f2b1;
  @include box-shadow (-1px,1px,2px,#c8c8c8);
}
.box_header:before, .box_header:after {
  display: table;
  content: "";
  zoom: 1;
}
.box_header:after {
  clear:both;
}

form#subscribe_to_newsletter {
  ol {
    list-style: none;
  }
  label {
    display: none;
  }
  input[type="email"], input[type="text"] {
    margin: 4px 0;
    background-color: #f7f5f6;
    width: 235px;
    padding: 7px;
    @include box-shadow-inset(0px,1px,3px,#aeaeae);
    @include rounded(3px);
    border: 1px solid #c1c1c1;
  }
  .error input {
    border: 1px solid #AF0000;
    background-color: #f7f5f6;
    @include box-shadow-inset(0px,1px,3px,#F2E3E3);
  }
}

ul.filter_list {
  display: block;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  
  li {
    display: block;
    a {
      display: block;
      line-height: 25px;
      font-size: 14px;
      font-weight: 300;
      color: #2d77de;
    }
  }
}


ul.labs_filter {
  li {
    margin-bottom: 4px;
    a {
      font-size: 12px;
      line-height: 19px;
    }
  }
}
#labs_list {
  h3 {
    font-size: 16px;
    color: $grey;
    margin-bottom: 10px;
  }
  .back_top {
    font-size: 12px;
    font-weight: 800;
    display: block;
    margin-bottom: 10px;
  }
  .divided_row:last-child, .last {
    border-bottom: none !important;
  }
}

.yellow_box {
  span {
    color: $dark;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 5px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;

    a {
      color: $dark;
      text-transform: uppercase;
    }
  }
  span.call_out {
    font-size: 31px;
    line-height:31px;
  }
  a.callout_link, a.callout_link span {
    text-decoration: none;
  }
  .alt_link {
    background: $dark;
    color: #f0f0f0;
    padding: 10px 20px;
    
    a {
      color: #f0f0f0;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .medium_callout {
    font-size: 21px;
    line-height: 27px;
  }
  .small_callout {
    font-size: 18px;
    line-height: 24px;
  }
}



/******************************************************
 *  Pagination!
******************************************************/
.pagination {
  display: block;
  clear: both;
  margin: 10px 0;
  padding: 0;
  background: none;
  border: none;
  @include box-shadow(0,0,0,#fff);
  height: 20px !important;
  
  span {
    float: left;
    margin-right: 7px;
    @include rounded(1px);
    
    a {
      padding: 3px 7px;
      text-decoration: none;
      color: $grey;
    } 
  }
  span.current {
    padding: 0 7px;
  }
}







/******************************************************
 *  Buttons
******************************************************/
.btn, input.submit, input.create {
  @include rounded(3px);
  padding: 6px 10px;
  margin: 0;
  font-weight: 700;
  font-size: 12px; 
}
.grey_btn, .pagination span {
  color: $grey;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #c9c9c9; 
  background-color: #dcdcdc;
  background-image: asset-url('application/grey_btn.png', image);
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e4e4e4), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #dcdcdc);
  background-image:    -moz-linear-gradient(top, #e4e4e4, #dcdcdc);
  background-image:     -ms-linear-gradient(top, #e4e4e4, #dcdcdc);
  background-image:      -o-linear-gradient(top, #e4e4e4, #dcdcdc);
}
.blue_btn, input.submit, input.create, .pagination .current {
  color:#fff !important;
  border:1px solid #0072bc;
  text-shadow: 1px 1px 1px #00548a;
  @include gradient(#0072bc, #1c91dc, #0072bc);
  @include box-shadow-inset(0px, 1px, 0px, #45aef1);
}
input.submit, input.create {
  padding: 6px 25px;
}


/* BHSI Page */
#bhsi_apply_btn {
  display: block;
  text-align: center;
  text-decoration: none;
}
ul#previous_winners_preview {
  display: block;
  clear: both;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: left;
  
  li {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
  }
}
table#semi_finalists {
  width:100%;
  td {
    width:50%;
  }
}
div.semi_finalist {
  margin-bottom:1em;
  p {
    margin-bottom:0;
    line-height:20px;
  }
}

/* ThinkChicago Box */
#think_chicago.box {
    img {
      float:left;
      margin-right:15px;
    }
    
    a {
      display:block;
      margin-top:15px;
    }
  }

/* ThinkChicago Page */
#think_chicago_page {
  #page_header {
  	margin-bottom:20px;
    #page_title {
    
      p {
        margin-bottom:0;
      }
    }
  }
  
  #think_chicago_apply_btn {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  #main_content {
    ul#think_chicago_box {
      background:#ebebeb;
      border:1px solid #ccc;
  	  padding:0.5em;
  	  margin:0;
  	  list-style-type:none;
  	  box-shadow: 2px 2px 3px #BBB;
	  -moz-box-shadow: 2px 2px 3px #BBB;
	  -webkit-box-shadow: 2px 2px 3px #BBB;
  	
  	  li {
  		margin-left:1em;
  		
  	    h2 {
  		  margin-top:0;
  		}
  	  }
  	
  	  li + li {
  	    margin-top:0.5em;
      }
    }
    ul#think_chicago_box + p {
  	  margin-top:1em;
    }
  
    ul {
      ul {
       list-style-type:circle !important;
      }
    }
  }
}

#think_chicago_applications_page {
  #main_content {
    ul {
      list-style-type:disc;
  	  margin:0 1em;
  	  padding:0 1em;
    }
  }
}


// Sharing
#share_video {
  min-height: 25px;
  margin: 10px 0 30px 0;
  ul {
    display: block;
    margin: 0;
    padding: 0 15px;
    list-style: none;
    
    li {
      display: inline;
      float: left;
    }
  }
}



// Explore Dropdown
.explore_dropdown {
  display: none;
  width: 1000px;
  min-height: 325px;
  position: absolute;
  margin: 0 auto;
  top: 42px;
  left: 0;
  @include box-shadow(0px,0px,10px,#999);
  z-index: 2000;
  
  .explore_top {
    display: block;
    height: 10px;
    background: asset-url('application/explore_top.png', image) top left no-repeat;
    margin-top: -13px;
    text-align: right;
    padding: 10px 20px 0 0;
    
    a.close_explore_btn {
      font-size: 20px;
      color: $grey;
      font-weight: bold;
      text-decoration: none;
    }
  }
  
  .explore_content {
    background-color: #fff;
    min-height: 325px;
    padding: 20px;
  }
  
  .column {
    margin-right: 30px;
  }
  .column:last-child, .last {
    margin-right: 0;
  }
  
  ul.filter_list {
    margin: 0;
    padding: 0;
    
    li {
      display: block;
      margin: 0 0 5px 0;
      padding: 0;
      a {
        display: block;
        line-height: 20px;
        font-size: 14px;
        font-weight: 300;
        color: #2d77de;
      }
    }
  }
  .ie6 ul.filter_list, .ie7 ul.filter_list, .ie8 ul.filter_list, .ie6 ul.filter_list li, .ie7 ul.filter_list li, .ie8 ul.filter_list li {
    width: 280px;
  }
}



#news_list {
  
  h2 {
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 5px;
  }
  .news_image {
    margin: 6px 10px 10px 0;
    float:left;
  }
  span.timestamp {
    font-size: 14px;
    display: block;
    clear: both;
    margin-bottom: 30px;
    color: $grey;
    font-style: italic;
  }
  .column:last-child {
    border: none;
  }
  .column {
    padding-bottom: 30px;
  }
  
}





// Search
#results_count {
  display: block;
  margin-bottom: 20px;
}
#search_results_list {
  width: 100%; 

  li {
    width: 100%;
    margin: 0 0 40px 0;
    
    .img_frame {
      margin-top: 2px;
    }
    span.title_ { 
      font-size: 19px; 
      font-weight: bold; 
      display: block;
      margin: 2px 0 8px 0;
    }
    span.desc_ { 
      font-size: 14px; 
      line-height: 19px; 
      a {
        display: inline;
        font-weight: inherit;
      }
    }
  }
  li.user span.r_label, li.chapter span.r_label, li.event span.r_label, li.talk span.r_label, li.quote span.r_label { 
    display: inline !important; 
    width: auto !important; 
    padding: 1px 5px; 
    clear: both; 
    color: $dark;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    @include rounded(2px);
  }
  li.user {
    span.r_label {
      background: #8cbafa;
      color: $dark;
    }
    .img_frame {
      height: 110px;
    }
  }
  li.chapter {
    span.r_label {
      background: #ffc97b;
    }
  }
  li.talk {
    span.r_label {
      background: #9bd671;
    }
  }
  li.quote {
    span.r_label {
      background: #f9f097;
    }
  }
}

/******************************************************
 *  Overwriting styles
******************************************************/

.right {
  float:right;
}
.left {
  float:left;
}
.block, .show {
  display:block !important;
}
.clearfix {
  clear:both;
}
.hide {
  display:none;
}
.nomargin {
  margin:0;
}
.noborder {
  border: 0 !important;
}
ul.list_reset {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  
  > li {
    margin: 0;
    padding: 0;
  }
}
.offset_left {
  margin-left: 10px;
}
.offset_right {
  margin-right: 10px;
}
.bold {
  font-weight: bold;
}


span.blue_header {
  font-size: 21px;
  font-weight: bold;
  color: #2d77de;
  display: block;
  clear: both;
  margin-bottom: 15px;
}
#page_header span.blue_header {
  text-align: right;
  padding-right: 20px;
}
.down_arrow {
  background: image-url('application/arrow_1.png') no-repeat;
  width: 74px;
  height: 121px;
  float: right;
  margin-right: -60px;
  position: absolute;
  right: 0px;
  top: 10px;
}

.theme_arrow_container {
  position: relative; 
  
  .theme_arrow {
    background: image-url('application/arrow_2.png') no-repeat;
    width: 75px;
    height: 116px;
    position: absolute;
    left: 0px;
    top: 10px;
    margin-left: -80px;
  }
  
}
.current_year_header {
  position: relative;
}
