// Project You(th) CSS
body.project_youth {
  
  section.banner {
    background:#fff;
    
    .banner_wrapper {
      border-bottom:1px solid #21b8ef;
    }
  }

  .quote {
    p {
      margin-bottom:0;
    }
    
    .by_line + p {
      margin-top:15px;
    }
  }

  
}

