// Place all the styles related to the Application/sponsors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.sponsorshiplevel_list {
	display:block;
	list-style:none;
	margin:0;
	padding:0;
	
	> li {
		width:100%;
		display:block;
		clear:both;
		margin:0 0 25px 0;
		padding:0 0 15px 0;
		border-bottom:1px solid #cccccc;
		
		> span {
			font-size: 16px;
			color: $greyDark;
			display: block;
			margin-bottom: 25px;
			font-weight: bold;
		}
		
		ul.sponsors_list {
			display:block;
			list-style:none;
			margin:0;
			padding:0;
			text-align:center;
			
			> li {
				display:inline;
				margin: 0 10px 10px 0;
				padding:0;
			}
		}
	}
	
} // end ul.sponsorshiplevel_list

ul.sponsorshiplevel_list:before, ul.sponsorshiplevel_list:after {
	display:table;
	content: "";
	zoom: 1;
}