/******************************************************
 *  General Typography
******************************************************/

.blue { color:$blue !important; }
a.blue:hover { text-decoration:underline !important; }
.small { font-size: 12px !important; }


h1 {
  font-size: 29px;
  font-weight: 800;
  color: $dark;
  line-height: 37px;
  margin-bottom: 15px;
}
h2 {
  font-size: 17px;
  color:$grey;
  font-weight:bold;
  line-height: 23px;
  margin: 15px 0 10px 0;
}
.content_column h2 {
  border-bottom:1px solid #ccc;
  padding-bottom:2px;
  margin-bottom:10px;
}
h3 {
  font-family: "Helvetica Neue", Helvetia, Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 0px;
  color:$dark;
  font-weight: 600;
}

p, pre { 
  font-family: "Helvetica Neue", Helvetia, Arial, sans-serif;
  font-size: 15px;
  color:$grey;
  line-height: 25px;
  margin-bottom:15px; 
}
p:last-child { margin-bottom:0; }


a, a:active, a:visited {
  color:#2d77de;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

span.column_header {
  color: $grey;
  font-size: 12px;
  display: block;
  clear: both;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

span.expired_date {
  font-size: 11px;
  color: #fff;
  background-color: #f36767;
  @include rounded(2px);
  padding: 2px 4px;
  margin-left: 5px;
}

.column ul, .column ol, p ul, p ol, pre ul, pre ol, ul.standard_list {
  list-style: disc;
  margin: 10px 0 10px 10px;
  li {
    margin: 0 0 5px 20px;
    padding-left: 5px;
    font-family: "Helvetica Neue", Helvetia, Arial, sans-serif;
    font-size: 15px;
    color:$grey;
    line-height: 25px;
  }
}
.column ol, p ol, pre ol {
  list-style: decimal;
}



/******************************************************
 *  Homepage Introduction
******************************************************/
#intro {
  display: block;
  width: 100%;
  margin: 0 0 35px 0;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;

  h1 {
    font-size: 51px;
    line-height: 55px;
    color: $dark;
    display: block;
    margin-bottom: 15px;
  }
  span {
    font-size: 23px;
    color: $grey;
    display: block;
    line-height: 31px;
  }
}



