/******************************************************
 *  General Typography
******************************************************/

.blue { color:$blue !important; }
a.blue:hover { text-decoration:underline !important; }
.small { font-size: 12px !important; }


h1 {
  font-size: 29px;
  font-weight: 800;
  color: $dark;
  line-height: 37px;
  margin-bottom: 15px;
}
h2 {
  font-size: 27px;
  color:$dark;
  font-weight:bold;
  line-height: 35px;
  margin-bottom: 20px;
}
.content_column h2 {
  border-bottom:1px solid #ccc;
  padding-bottom:2px;
  margin-bottom:10px;
}
h3 {
  font-family: "Helvetica Neue", Helvetia, Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 0px;
  color:$dark;
  font-weight: 600;
}

p, pre { 
  font-family: "Helvetica Neue", Helvetia, Arial, sans-serif;
  font-size: 15px;
  color:$grey;
  line-height: 25px;
  margin-bottom:15px; 
}
p:last-child { margin-bottom:0; }

/*
section ul, section ol {
  list-style: disc;
  margin: 0 0 10px 10px;
  padding:0;
}
section ol {
  list-style: decimal;
}
section ul li {
  padding-left: 10px; 
  margin-left: 15px;
}
*/

a, a:active, a:visited {
  color:#2d77de;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

span.column_header {
  color: $grey;
  font-size: 12px;
  display: block;
  clear: both;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

span.expired_date {
  font-size: 11px;
  color: #fff;
  background-color: #f36767;
  @include rounded(2px);
  padding: 2px 4px;
  margin-left: 5px;
}

