// Greys
$white:			#fff;
$offwhite:		#f8f8f8;
$black:			#000;
$dark:			#262223;
$grey:			#666;
$greyLight:		#999;
$greyDark:		#333;


// Accent Colors
$blue:			#2d77de;
$yellow:		#f3e72d;
$green:			#4d7531;
$greenLight:	#dcf1cd;
$red:			#ff0000;


// Links
$linkColor:		#2d77de;


// Griditude
$container:		1000px;
$column:		300px;
$columnDouble:	600px;
$columnTriple:	900px;


$footerHeight:		300px;