-#    Speaker List Template
-#
-#    Standard template for a list of speakers. You can use
-#    this to set some extra details before looping over
-#    all the items, including column width, paginate...


.column_row#speakers
  .column.column_double
    %span.column_header 
      Speakers
      %a{:id => "speaker_search", :class => "model_search_btn", :href => "#"} search speakers
      
    = render "partials/search", :model => "speakers"
      
    %ul.preview_list.speaker_list.double_rows
      = render "partials/speakers_loop", :speakers => speakers
    = paginate speakers
