-#     Chicago Ideas Week
-#     speakers/edison.html.haml
-#     05/21/2012



-# Begin Main Speaker content
%section.container#main_content
  
  %img{ :src => "/assets/application/edison_logo.jpg", :rel => "bookmark", :title => "", :width => "1000", :height => "350" }
  %div#edison_info
      
    %div.info  
      %p Edison Talks is an invitation-only, daylong gathering of provocative presentations, performances and interactive installations led by globally recognized visionaries created to connect and inspire leaders from across the globe.
    %div.info
      %p 
        For more information, please connect with us at 
        = link_to "edisontalks@chicagoideas.com.", "mailto:edisontalks@chicagoideas.com"
        Please revisit our site for updates on 2013 programming and speakers.
      %p Thanks again to these amazing thought leaders for sharing their ideas at the 2012 premiere of the Edison Talks!
     
    
    %div#edison_talks_application.clearfix
      - if @speakers.length > 0
        %p 2012 Edison Speakers
  
  - if @speakers.length > 0
    %div#edison_speakers
      %ul.preview_list.speaker_list.double_rows
        = render "partials/landing_page_speakers_loop", :speakers => @speakers
      %div{:class => "clearfix" }            
  - else
    %div#edison_speakers_none
      %p Speakers Coming Soon
    
