-#     Chicago Ideas Week
-#     speakers/edison.html.haml
-#     05/21/2012



-# Begin Main Speaker content
%section.container#main_content
  
  %img{ :src => "/assets/application/edison_logo.jpg", :rel => "bookmark", :title => "", :width => "1000", :height => "350" }
  %div#edison_info
    = link_to "Received an invitation? Click here to purchase your ticket!", "https://andticketing.com/chicagoideasweek/Online/default.asp?doWork::WScontent::loadArticle=Load&BOparam::WScontent::loadArticle::article_id=CEC1E538-9258-4633-A9A2-C69597EAD84D&menu_id=02479498-C7AA-43D6-849B-1E3630D7FBDB", :target => "_blank", :class => "received_invitation" 
      
    %div.info  
      %p Edison Talks is an invitation-only, daylong gathering of provocative presentations, performances and interactive installations led by globally recognized visionaries created to connect and inspire leaders from across the globe.
    %div.info
      %h2
        %p Friday, October 12th, 2012
        %p 9:00am - 6:00pm
      %p The Oriental Theatre
      %p 
        For questions, please contact: 
        %a{:href => "mailto:edisontalks@chicagoideas.com"}
          edisontalks@chicagoideas.com
    
    %div#edison_talks_application.clearfix
      - if @speakers.length > 0
        %p More Speakers Coming Soon
  
  - if @speakers.length > 0
    %div#edison_speakers
      %ul.preview_list.speaker_list.double_rows
        = render "partials/landing_page_speakers_loop", :speakers => @speakers
      %div{:class => "clearfix" }            
  - else
    %div#edison_speakers_none
      %p Speakers Coming Soon
    
