-#     Chicago Ideas Week
-#     speakers/edison.html.haml
-#     05/21/2012



-# Begin Main Speaker content
%section.container#main_content
  
  %img{ :src => "/assets/application/project_youth_logo.png", :rel => "bookmark", :title => "", :width => "1000", :height => "480" }
  %div#project_youth_info
    %div
      %h2
        %p Thursday, October 11th, 2012
        %p Oriental Theatre
      = render "partials/share"
      %p For questions, please contact:  
      %p  
        %a{:href => "mailto:info@projectyouth.com"}
          info@projectyouth.com
      
    %div
      %p 
        %b PROJECT YOU(th)
        is a daylong event taking place during Chicago Ideas Week featuring globally recognized leaders brought together to empower Chicago Public School students through dynamic and moving presentations, performances, and storytelling.  Following the event, each student will have an opportunity to sign up for volunteer service projects in their communities.
  
  - if @speakers.length > 0
    %div{ :id => "project_youth_speakers", :class => "speakers" }
      %h2 Speakers
      %ul.preview_list.speaker_list.double_rows
        = render "partials/landing_page_speakers_loop", :speakers => @speakers
      %div{:class => "clearfix" }            
  - else
    %div{ :id => "project_youth_none", :class => "speakers" }
      %h2 Speakers Coming Soon
    
