-################################################
-#
-# 		Project		Chicago Ideas Week
-# 		Title		Application Front-End
-# 		File		Application.html.haml
-# 		Date		12/30/11
-# 		Author		John Koht
-#
-################################################

!!! 5
- conditional_html 'en'

%head
	= render "layouts/application/head"

%body{:id => body_id, :class => body_class}

	-# Global Header & Navigation
	%header{:id => "main_header", :class => "container-fluid"}
		= render "layouts/application/header"
				
	
	= yield
	
	