%html
  %body{:style => "margin:0; padding:0; background-color: #EBE4DF;"}
    %table{:style => "width:100%; background-color: #EBE4DF; font-family:sans-serif;"}
      %tr
        %td
          %table{:style => "width: 700px; margin: 10px auto 0 auto; border:1px solid #222222; background-color: white; color:#333333;"}
            %tr
              %td= yield
