!!! 5
- conditional_html 'en'

%head
  - if Rails.env == 'production'
    = stylesheet_link_tag 'admin_print'
  - else
    %style
      = CraigsAdmin::Application.assets["admin_print"].to_s.html_safe
      

%body.pdf_admin
  
  #content_container
    #content
      = yield
  
