!!! 5

%html
  %head
    %title
      %style
        = CraigsAdmin::Application.assets["admin_print"].to_s.html_safe
        
  
  %body.pdf_admin
    
    #content_container
      #content
        = yield
