%table#event_photos
  %tr
    %th.photo= ssp_sort_link :photo
    %th.event_id= ssp_sort_link :event_id
    %th.caption= ssp_sort_link :caption
    %th 
  = render :partial => 'admin/event_photos/event_photo.html.haml', :collection => event_photos
